<!DOCTYPE html>
<html>
<head>
	<title>禁止访问！</title>
	<link rel="stylesheet" type="text/css" href="${request.contextPath!}/static/css/error/error.css" />
	<link href="${request.contextPath!}/static/css/web-index.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="tip-body">
		<img src="${request.contextPath!}/static/img/error/403.png" style="left: 350px;top: 70px;" width="150"/>
		<div class="tip-content">
			<h2>禁止访问！</h2>
			<p>服务器拒绝了您的浏览请求。</p>
			<!-- 
			<button class="btn btn-info" style="margin-top: 20px;" onclick="javascript:window.location.href='${base!}/';"><i class="fa fa-refresh"></i>&nbsp;&nbsp;&nbsp;刷新页面</button>
			-->
		</div>
	</div>
</div>
<!-- footer -->
</body>
</html>