<!DOCTYPE html>
<html>
<head>
	<title>服务器错误！</title>
	<#include "*/common/html/htmlHeader.html"/>
	<link rel="stylesheet" type="text/css" href="${base!}/static/css/error/error.css" />
	<link href="${base!}/static/css/webfinal-index.css" rel="stylesheet">
</head>
<body>
<!-- navbar -->

<div class="container">
	<div class="tip-body">
		<img src="${base!}/static/img/error/other.png" style="left: 360px;top: 50px;" />
		<div class="tip-content">
			<h2>抱歉！页面出现错误，停止响应......</h2>
			<a href="${base!}/home/index" target="_self" class="btn btn-info" style="margin-top: 20px;"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;返回首页</a>
		</div>
	</div>
</div>

<!-- footer -->
<#include "*/common/html/htmlFooter.html"/>
</body>
</html>